* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* vertical spacing */

body {
    font-family: monospace;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-menu {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
}

.hamburger-menu {
    font-size: 24px;
    text-align: right;
    min-width: 500px;
}

.hidden {
    display: none;
}

nav img {
    height: 60px;
}

nav h1 {
    font-size: 24pt;
}

main {
    margin-top: 50px;
}

.side-menu {
    display: none;
}

.top-header {
    padding: 40px 40px 10px 40px;
}

.top-header h1 {
    font-size: 32pt;
}

.top-header h2 {
    font-size: 18pt;
}

.section-panel,
.project-box {
    padding: 40px;
}

p {
    padding: 10px 0px 10px 0px;
    font-size: 12pt;
}

#project1 {
    height: 100px;
}

.contact-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact-box img {
    height: 40px;
    margin: 10px;
}

.contact-box div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .header-desktop h1 {
        font-size: 48pt;
    }

    .header-desktop h2 {
        font-size: 32pt;
    }

    .top-menu,
    .top-header {
        display: none;
        border-style: none;
    }

    .side-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        padding: 20px;
        min-width: 300px;
        flex-wrap: nowrap;
        border-style: solid;
        border-width: 0px 4px 0px 0px;
    }

    .side-header ul {
        padding: 40px;
        font-size: 18px;
    }

    .side-header li {
        padding: 10px;
    }

    .contact-box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    main {
        display: flex;
    }

}